body { //background images for all pages.
    background-image: url(../../../../jigsawhero/img/themes/backgroundMain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
*{
    cursor: url(../../../../jigsawhero/img/cursors/jigsaw_hero.png), default;
}