.mainLogoHome {
    background-image: url(../../../../jigsawhero/img/jigsaw_hero.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 350px;
}

.homepageLogoContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
