.logoContainer {
    height: 100px;
    width: 150px;
    display: flex;
    float: right;
    position: relative;
    margin: -25px 15px 15px 10px;
    background-image: url(../../../../jigsawhero/img/jigsaw_hero_130x100.png);
    background-repeat: no-repeat;
}
